{% extends 'base.html.twig' %}

{% block title %}Delete your space{% endblock %}

{% block body %}
    <div class="container">
        <h1>Are you sure you really want to delete {{ space.name }}?</h1>
        {{ form(formular) }}
        <a href="{{ path("app_home") }}" class="btn btn-secondary">Undo</a>
    </div>
{% endblock %}
